.container
{
    max-width:1300px !important;
}


#carouselExampleInterval .carousel-item img {
    margin-top:20px !important;
    max-width: 70%;
    max-height: 70%;
    margin: 0 auto; 
    margin-right: 15%;
}

.carousel .carousel-indicators {
    bottom: 10px;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    top: 40%;
    bottom: auto;
}

@media (max-width: 768px) {
    .carousel .carousel-indicators {
        bottom: 5px;
    }

    .carousel .carousel-control-prev,
    .carousel .carousel-control-next {
        top: 50%;
    }
}

.card.card-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: white;
    max-width: 200px;
    background-color: black !important;
    background-size: cover;
    border-radius: 25px !important;
}

.card-title {
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.card-footer {
    font-size: 14px;
    text-align:right;
    color:white;
    margin-bottom:-5px;
}

.card-column {
    padding: 0.50rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 white;
}

.scrolling-container {
    overflow-x: auto;
}

.card-column {
    flex: 0 0 200px; 
    max-width: 200px; 
    vertical-align: top;
    min-width: 100px; 
}



.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.card-content {
    flex: 1;
}

.card.h-55 {
    height: 280px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .card-column {
        flex: 0 0 150px; 
        max-width: 125px; 
    }
    .card-title, .text-muted {
        font-size: 0.8em;
    }
    .card.h-55 {
        height: 200px; 
    }

    #carouselExampleInterval .carousel-item img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        margin-right: 10%;
    }

    .card-footer {
         bottom:2px !important;   
    }
}

::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: yellow;
}


.shopping-cart {
    position:relative;
    text-align:right;
    margin-right:20px;
}

#search {
    display: flex;
    justify-content:left;
    padding: 20px;
}

#searchInput {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #495057;
    padding: 0 20px;
    font-size: 16px;
    color: white;
    outline: none;
    background-color: black;
}

    #searchInput::placeholder {
        color: #999;
    }
