
body {
    font-family: Arial, sans-serif;
}

.total-price-container {
    text-align: right;
}

.total-price {
    font-weight: bold;
    font-size: 1.2em;
}


.card {
    background-color: #2c2c2c !important;
    color: white; 
}

.card-title {
    text-align: left;
    margin-top: -30px;
    margin-left: 10px;
}

.game-title {
    font-size: 13px;
}

.card-footer {
    text-align: right;
    border: none !important;
}

.card-price {
    text-align: right;
    bottom: 20px;
    margin-right: -70px;
    margin-top: -70px;
}

.btn-danger {
    background-color: transparent !important;
    border: none !important;
    font-style: oblique; 
    color: grey !important; 
    position:relative;
}

.btn-danger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
}

.img-fluid {
    max-height: 125px;
    object-fit:scale-down;
}

.btn-danger:hover {
    background-color: transparent !important;
    border: none !important;
}

.modal-content {
    background-color: black !important; 
    color: white;
    font-family: Arial, sans-serif;
    top: 200px;
}

@media (max-width: 576px) {
    .card{
        max-height:125px
    }
    

    .card-title {
        font-size: 14px;
    }

    .card-price {
        font-size: 14px;
    }

    .img-fluid {
        max-height: 125px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .card-title {
        font-size: 16px;
    }

    .card-price {
        font-size: 16px;
    }

    .img-fluid {
        max-height: 120px;
    }
}

.price-breakdown-card {
    background-color: #333;
    color: white;
}

    .price-breakdown-card .list-group-item {
        background-color: transparent;
        border: none;
    }

    .price-breakdown-card .game-title,
    .price-breakdown-card .game-price {
        color: white;
    }

    .price-breakdown-card .total-price {
        font-weight: bold;
    }

    .price-breakdown-card .price-divider {
        border-top: 1px solid white;
        margin: 0.5rem 0;
    }

    .card-title-summary {
        text-align:left;
    }
