@page
@model WebApp.Pages.LoginModel
@{
    Layout = "_layoutLogin";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <img src="~/Images/imageLogin.png" class="img-fluid mb-3" alt="logo" style="margin-top:20px;" />
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <div style="display: flex; flex-direction: column;">
                        <label asp-for="FormLogin.Email"></label>
                        <input asp-for="FormLogin.Email" type="text" placeholder="Enter Email..." />
                        <span asp-validation-for="FormLogin.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div style="display: flex; flex-direction: column;">
                        <label asp-for="FormLogin.Password"></label>
                        <input asp-for="FormLogin.Password" type="password" placeholder= "Enter password..." />
                        <span asp-validation-for="FormLogin.Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <div id="errorMessage" class="errorMessage">@TempData["ErrorMessage"]</div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center mt-3">
                        Don't have an account yet? <a href="/Register">Register here</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center mt-1">
                        Continue as guest? <a href="/">Click here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

